<?xml version="1.0" encoding="UTF-8"?>

<web-app  version="3.0"
          xmlns="http://java.sun.com/xml/ns/javaee"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" >

  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.cricket.RegisterPlayer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
<!--    <url-pattern>/login</url-pattern>-->
  </servlet-mapping>

  <servlet>
    <servlet-name>registerTeam</servlet-name>
    <servlet-class>com.cricket.RegisterTeam</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>registerTeam</servlet-name>
  <url-pattern>/registerTeam</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.cricket.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>com.cricket.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.cricket.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TournamentServlet</servlet-name>
    <servlet-class>com.cricket.TournamentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TournamentServlet</servlet-name>
    <url-pattern>/TournamentServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PlayerServlet</servlet-name>
    <servlet-class>com.cricket.PlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerServlet</servlet-name>
    <url-pattern>/PlayerServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Rating</servlet-name>
    <servlet-class>com.cricket.Rating</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rating</servlet-name>
    <url-pattern>/Rating</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Schedule</servlet-name>
    <servlet-class>com.cricket.ScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Schedule</servlet-name>
    <url-pattern>/Schedule</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>